.logo-icon {
    color: #fff;
    font-size: 5rem;
}

.box {
    min-width: 20rem;
}
/* .nav-width {
    min-width: 15rem;
    max-width: 25rem;
} */
.home-width {
    min-width: 50rem;
}
.feed-width {
    min-width: 70%;
}

.scroll {
    overflow-y: scroll !important;;
}
.navigation {
    background-color: #fff;
}

.main-container {
    flex-direction: row !important;
    height: 100vh;
}


.profile-pic {
    position: relative !important;
    top: 4.5rem !important;
    min-width: 5rem;
    max-width: 8rem;
}